# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# .NET
backend/**/bin/
backend/**/obj/

# Logs & temp
*.log
*.user
.vs/

# Secrets (keep appsettings.json but exclude local overrides)
backend/**/appsettings.*.json
!backend/**/appsettings.json